@import "tailwindcss";

:root {
  --primary: #0f62fe;
  --secondary: #262626;
  --bg: #161616;
  --white: #ffffff;
  --border: #393939;

  /* Tasks */
  --high-text: #e97579;
  --high-bg: #e64e4a;
  --high-border: #da1e28;

  --medium-text: #f1aa21;
  --medium-bg: #4e4523;
  --medium-border: #f1c21b;

  --low-text: #4abe8c;
  --low-bg: #233829;
  --low-border: #198038;

  @theme {
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-bg: var(--bg);
    --color-white: var(--white);
    --color-border: var(--border);

    --color-high-text: var(--high-text);
    --color-high-bg: var(--high-bg);
    --color-high-border: var(--high-border);

    --color-medium-text: var(--medium-text);
    --color-medium-bg: var(--medium-bg);
    --color-medium-border: var(--medium-border);

    --color-low-text: var(--low-text);
    --color-low-bg: var(--low-bg);
    --color-low-border: var(--low-border);
  }
}

body,
html {
  background-color: var(--bg);
}

body {
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
}

@media (min-width: 640px) {
  .container {
    padding-inline: 1.5rem;
  }
}

@media (min-width: 768px) {
  .container {
    padding-inline: 2rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1280px;
    padding-inline: 3rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1400px;
    padding-inline: 4rem;
  }
}
